.sidebar {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 25px 25px 0px;
  max-width: 40vw;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.sidebar__cards {
  flex-direction: column;
}
.sidebar__personInfo {
  width: 250px;
  height: 75px;
  border-radius: 15px;
  margin: 25px;
  padding: 10px;
  display: flex;
  background-color: white;
  border: 1px solid lightgray;
  justify-content: space-evenly;
  align-items: center;
}
.sidebar__infoText {
  font-size: 1.5rem;
}
.sidebar__infoText > p {
  font-size: 0.9rem;
}
.sidebar__infoImg {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  object-fit: cover;
}

.sidebar__toggleCard {
  width: 250px;
  height: 75px;
  border-radius: 15px;
  margin: 25px;
  padding: 10px;
  background-color: white;
  border: 1px solid lightgray;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sidebar__toggleButton {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.sidebar__formCard {
  width: 250px;
  height: 75px;
  border-radius: 15px;
  margin: 25px;
  padding: 10px;
  background-color: white;
  border: 1px solid lightgray;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sidebar__formCard > h4 {
  margin-bottom: 10px;
}
.sidebar__formActive {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
